/build/
/build/classes/
/build/classes/greendroid/
/build/classes/greendroid/project/
/build/classes/greendroid/result/
/build/classes/greendroid/tools/
/build/classes/greendroid/trace/
/build/classes/greendroid/Consumption.class
/build/classes/greendroid/Main.class
/build/classes/greendroid/Project.class
/build/classes/greendroid/ProjectAnalyser.class
/build/classes/greendroid/TestCase.class
/build/classes/greendroid/TracedMethod.class
/build/classes/instrumentation/
/build/classes/greendroid/project/Project.class
/build/classes/greendroid/result/Result.class
/build/classes/greendroid/result/ResultClass.class
/build/classes/greendroid/result/ResultMethod.class
/build/classes/greendroid/result/ResultPackage.class
/build/classes/greendroid/tools/Config.class
/build/classes/greendroid/tools/Util.class
/build/classes/greendroid/trace/Consumption.class
/build/classes/greendroid/trace/TestCase.class
/build/classes/greendroid/trace/TracedMethod.class
/build/classes/instrumentation/transform/
/build/classes/instrumentation/util/
/build/classes/instrumentation/visitors/
/build/classes/instrumentation/transform/InstrumentHelper.class
/build/classes/instrumentation/util/ClassM.class
/build/classes/instrumentation/util/FileUtils.class
/build/classes/instrumentation/util/PackageM.class
/build/classes/instrumentation/util/XMLParser.class
/build/classes/instrumentation/visitors/utils/
/build/classes/instrumentation/visitors/ActivityChangerVisitor.class
/build/classes/instrumentation/visitors/CatchChangerVisitor.class
/build/classes/instrumentation/visitors/ForChangerVisitor.class
/build/classes/instrumentation/visitors/GenericBlockVisitor.class
/build/classes/instrumentation/visitors/IfChangerVisitor.class
/build/classes/instrumentation/visitors/MethodChangerVisitor.class
/build/classes/instrumentation/visitors/MethodVisitor.class
/build/classes/instrumentation/visitors/ReturnFinder.class
/build/classes/instrumentation/visitors/ReturnVisitor.class
/build/classes/instrumentation/visitors/SwitchEntryChangerVisitor.class
/build/classes/instrumentation/visitors/SynchChangerVisitor.class
/build/classes/instrumentation/visitors/TestChangerVisitor.class
/build/classes/instrumentation/visitors/TryChangerVisitor.class
/build/classes/instrumentation/visitors/WhileChangerVisitor.class
/build/classes/instrumentation/visitors/utils/ClassDefs.class
/build/classes/instrumentation/visitors/utils/ReturnFlag.class
/.project
/.classpath
/config.cfg
/projects.csv
